.chatContainer {
    width: 800px;
    max-height: 400px; /* Здесь изменено на max-height */
    overflow: hidden;
    background-color: whitesmoke;
    box-shadow: 1px 1px 20px black;
    border-radius:15px;
    font-size: 20px;
    margin-top: 20px;
    align-items: center; /* Добавлено для flex-контейнера, если это нужно */
    overflow-y: auto; /* Добавлено, чтобы обеспечить прокрутку, если контент выходит за пределы */
    overflow-x: auto; /* Добавлено, чтобы обеспечить прокрутку, если контент выходит за пределы */
  }
  
 
.title{
    text-align: center;
    
    margin: 20px;
    text-decoration:none;
    border-bottom:1px solid black;
}
.inpBtn{
    align-items: center;

    outline: none;
    width: 40%;
    padding: 5px 10px;
    border: none;
    border: 2px solid black;
    margin: 9px auto;
    border-radius: 10px;
    font-family: corbel;
    transition: 3s;
}
.contInpBtn{
    display: flex;
    
   justify-content: center;
}